<hr/>

<div class = "div-welcome">
    <h1 class = "titulo-welcome">¡Bienvenido/a a nuestra tienda online de libros!</h1>
</div>

<div class = "div-welcome">
    <p class = "parrafo-welcome">Somos una empresa apasionada por la lectura y creemos en el poder de los libros para enriquecer nuestras vidas. Es por eso que nos dedicamos a seleccionar cuidadosamente los títulos más interesantes y relevantes de la actualidad, ofreciéndolos en nuestra tienda online para que puedas tener acceso a ellos desde la comodidad de tu hogar.</p>
</div>

<div class = "div-welcome">
    <p class = "parrafo-welcome">En nuestra página web encontrarás una amplia variedad de libros de diferentes géneros, desde novelas de ficción hasta ensayos de no ficción, pasando por libros infantiles y juveniles, cómics, biografías y mucho más. Además, trabajamos con las editoriales más prestigiosas del mercado para asegurarnos de ofrecer siempre la mejor calidad en cada uno de nuestros productos.</p>
</div>

<div class = "div-welcome">
    <p class = "parrafo-welcome">Nos preocupamos por ofrecerte una experiencia de compra fácil y segura, por lo que contamos con un sistema de pago en línea confiable y una política de devoluciones flexible. Además, nuestro equipo de atención al cliente estará siempre dispuesto a ayudarte en caso de cualquier duda o problema.</p>
</div>

<div class = "div-welcome">
    <p class = "parrafo-welcome">Gracias por visitarnos y esperamos que disfrutes navegando por nuestra selección de libros. ¡Encuentra tu próxima lectura favorita en nuestra tienda online!</p>
</div>