.div-welcome {
    margin: 20px 0;
    padding: 10px;
    background-color:#85CDCB;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 4px -4px #000000; 
    box-shadow: 5px 5px 4px -4px #000000;

    
    .titulo-welcome {
      font-size: 32px;
      color: #333333;
      text-align: center;
      margin-bottom: 20px;
    }
    
    .parrafo-welcome {
      font-size: 16px;
      color: #666666;
      line-height: 1.5;
      text-align: justify;
      margin-bottom: 10px;
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  