<footer class="footer">
  <ul class="redes-sociales">
    <li>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook"></i>Facebook
      </a>
    </li>
    <li>
      <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>Twitter
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>Instagram
      </a>
    </li>
  </ul>
</footer>

